<form [formGroup]="firstFormGroup">

    <div>
        <mat-form-field class="example-form-field" appearance="outline" fxFlexFill>
            <mat-label >Documento</mat-label>
            <input matInput type="text" formControlName="documento" fxFlex="100">
        </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-form-field" appearance="outline" fxFlexFill>
          <mat-label>Fecha Visita</mat-label>
          <input matInput type="date" formControlName="fecVisita" fxFlex="100">
        </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-form-field" appearance="outline" fxFlexFill>
          <mat-label >Hora Visita</mat-label>
          <input matInput type="time" formControlName="horVisita" fxFlex="100">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-form-field" appearance="outline" fxFlexFill>
          <mat-label >Teléfono</mat-label>
          <input matInput type="text" formControlName="telefono" fxFlex="100">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-form-field" appearance="outline" fxFlexFill>
          <mat-label >Usuario</mat-label>
          <input matInput type="text" formControlName="usuario" fxFlex="100">
      </mat-form-field>
    </div>

    <div>
      <button mat-flat-button color="primary" (click)="grabarVisita()">Grabar</button>
    </div>
</form>
