<form [formGroup]="firstFormGroup">

    <div>
        <mat-form-field class="example-form-field" appearance="outline" fxFlexFill>
            <mat-label>Codigo</mat-label>
            <input matInput type="text" formControlName="intCodigo" readonly="true"  fxFlex="100">

        </mat-form-field>


    </div>

    <div>
        <mat-form-field class="example-form-field" appearance="outline" fxFlexFill>
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="strNombre"  fxFlex="100">

        </mat-form-field>


    </div>

    <div>
        <mat-form-field class="example-form-field" appearance="outline" fxFlexFill>
            <mat-label>Usuario</mat-label>
            <input matInput type="text" formControlName="strUser"  fxFlex="100">

        </mat-form-field>


    </div>
    <div>
        <mat-form-field class="example-form-field" appearance="outline" fxFlexFill>
            <mat-label>Password</mat-label>
            <input matInput type="text" formControlName="strPassword"  fxFlex="100">

        </mat-form-field>


    </div>

    <div>
        <mat-form-field appearance="outline" fxFlexFill>
            <mat-label>Sucursal</mat-label>
            <mat-select formControlName="intCodSucursal"  fxFlex="100">
                <mat-option *ngFor="let element of listaSucursal" [value]="element.cod_sucursal">
                    {{element.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>



    <div>

        <button mat-flat-button color="primary" (click)="grabarUsuario()">Grabar</button>

    </div>
</form>