<div fxLayout="column" class="header-1 font-size-all">

    <div fxFlexOffset="3" class="titulo" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center">
        <button mat-flat-button color="primary" (click)="listarAgendas()">AGENDAR VISITA</button>
    </div>

</div>
<br />

<div class="example-button-row" *ngIf="mostrarAgendas">

    <mat-table #table [dataSource]="dataSourceAgenda" class="mat-elevation-z2" style="width: 100%;">

        <!-- Code Column -->
        <ng-container matColumnDef="documento">
            <th mat-header-cell *matHeaderCellDef fxFlex> documento </th>
            <td mat-cell *matCellDef="let element" fxFlex (click)="openModalSucursal(element)"> {{element.documento}}
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="fechaVisita">
            <th mat-header-cell *matHeaderCellDef fxFlex> fechaVisita </th>
            <td mat-cell *matCellDef="let element" fxFlex (click)="openModalSucursal(element)"> {{element.fechaVisita}} </td>
        </ng-container>

        <!-- Code Column -->
        <ng-container matColumnDef="horaVisita">
          <th mat-header-cell *matHeaderCellDef fxFlex> horaVisita </th>
          <td mat-cell *matCellDef="let element" fxFlex (click)="openModalSucursal(element)"> {{element.horaVisita}}
          </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef fxFlex> telefono </th>
          <td mat-cell *matCellDef="let element" fxFlex (click)="openModalSucursal(element)"> {{element.telefono}} </td>
      </ng-container>

      <!-- Code Column -->
        <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef fxFlex> usuario </th>
            <td mat-cell *matCellDef="let element" fxFlex (click)="openModalSucursal(element)"> {{element.usuario}}
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumnsSucursal"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsSucursal;" style="cursor: pointer;"></tr>
    </mat-table>


    <br />
    <button mat-flat-button color="primary" (click)="openModalGrabarAgenda()">Agregar Agenda</button>

</div>
