<form [formGroup]="firstFormGroup">

    <div>
        <mat-form-field class="example-form-field" appearance="outline" fxFlexFill>
            <mat-label  >Codigo</mat-label>
            <input matInput type="text" formControlName="intCodigo"  readonly="true" fxFlex="100">

        </mat-form-field>


    </div>

    <div>
        <mat-form-field class="example-form-field" appearance="outline" fxFlexFill>
            <mat-label >Nombre</mat-label>
            <input matInput type="text" formControlName="strNombre" fxFlex="100">

        </mat-form-field>


    </div>

    <div>
        <mat-form-field class="example-form-field" appearance="outline" fxFlexFill>
            <mat-label >Precio</mat-label>
            <input matInput type="text" formControlName="intPrecio" fxFlex="100">

        </mat-form-field>


    </div>

    <div>

        <button mat-flat-button color="primary" (click)="grabarProducto()">Grabar</button>

    </div>
</form>